# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
build-*.tar.gz
build-*.ipa
build-*.apk
build-*.aab
expo-env.d.ts
.cursor/
docs/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-play-service-account.json
recap-26c1c-firebase-adminsdk-fbsvc-ba1b9f5246.json

scripts/
# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android
